<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="UTF-8">
    <!-- Title -->
    <title>WATCH</title>
    <!-- Bootstrap -->
    <%- include("css.ejs") %>
    <style>
        .khungchinh{
            width: 1200px;

        }
        .khung{
            width: 300px;
            height: 300px;
            float: left;
        }
        .menu{
            width:100%;
            float:left;
            margin-left:5px;
            color: #540404;
            font-size: 30px;
        }
        .menu li{
            list-style: none;
            float: left;
            margin-right: 25px;

        }
    </style>
</head>
<body>

<!-- ========== HEADER ========== -->
<%- include("header.ejs") %>
<!-- ========== END HEADER ========== -->

<section class="section main">
    <div class="container">
        <div class="row">
            <article class="content col-md-8">
                <h2>Các Sản Phẩm đang bán chạy nhất</h2>
                <div class="khungchinh">
                    <ul class="menu">
                        <li>
                            <% for(var j=0;j<products.length;j++){ %>
                                <div class="khung">
                                    <a href="/products-detail?PID=<%= products[j].PID %>"><img src="/image/<%=products[j].LinkImg%>.jpg" width="50%"> </a>

                                    <h4>
                                        Mã sản phẩm: <%=products[j].PID%>
                                    </h4>
                                    <h4>
                                        <%=products[j].Name%>
                                    </h4>
                                </div>
                            <%}%>
                        </li>
                    </ul>
                </div>


            </article>
        </div>
    </div>
</section>

<!-- ========== FOOTER ========== -->
<!--<%- include("footer.ejs") %>-->
<!-- ========== END FOOTER ========== -->
<!-- ========== JS ========== -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>